html{
    height: 100%;
    width:100%
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#window-content{
    height: calc(100% - 32px);
}
#webview{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: black;
}

*::-webkit-scrollbar{
    display: none;
}